<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-destroy-method="destroy" default-init-method="init">

	<bean id="girl" class="com.beanlifecycle.xml3.Girl" />
	<bean id="boy" class="com.beanlifecycle.xml3.Boy" />

</beans>
