<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="person" class="com.spring.collection.setterinjection.Person" >
		<property name="friends">
			<list>
				<value>Sumit</value>
				<value>Yogi</value>
				<value>Rahul</value>
			</list>
		</property>
	</bean>
	
</beans>
