<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="sortingalgo" class="com.spring.sorting.InsertionSort" />

	<bean id="sma" class="com.spring.sorting.SortMyArray" >
		<property name="sorting" ref="sortingalgo"/>
	</bean>
	
</beans>